@charset "UTF-8";

.videojuego {
    background-color: rgb(96, 45, 236); 
    border: 1.3px solid #000;    
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    width: 50%;
    z-index: -1;    
}
.videojuego:hover{
    background-color: rgb(145, 108, 248); 
}
h4{
    text-align: center;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
}
.jugador{
    color:rgb(0, 0, 0);
    display: inline-block;
    border: solid  rgb(69, 2, 255) 2px;
    background-color: rgb(241, 185, 234)

} 
#botones{
    display: inline-block;
    

}