@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing: border-box;
}

[class*="col-"] {
	width: 100%;
	
}
.form{
	position: relative;
	top:45%;
}

#nComplField{
	z-index:0;
	margin-left: auto;
    position: relative;
    left: 7%;
    font-size: 90%;
    top: 10px;
}
#userField{
    z-index:0;
	top: 42px;
    position: relative;
    font-size: 90%;
    left: 7%;

}
#mailField{
	z-index:0;
	top: 74px;
    position: relative;
    font-size: 90%;
    left: 7%;

}
#dniField{
	z-index:0;
	top: 112px;
    position: relative;
    font-size: 90%;
    left: 7%;

	
}
#tlfField{
	z-index:0;
	top: 150px;
    position: relative;
    font-size: 90%;
    left: 7%;
}

#passField{
	z-index:0;
	top: 190px;
    font-size: 90%;
    left: 7%;
    position: relative;
	
}

#passCField{
	z-index:0;
	top: 230px;
    position: relative;
    font-size: 90%;
    left: 7%;

}
#CpassField{
	z-index:0;
	top: 266px;
    position: relative;
    font-size: 90%;
    left: 7%;

}

#nombreCompletoUsuario{
	z-index: 0;
	top: -195px;
    position: relative;
    font-size: 170%;
    left: 6%;
}
#nickUsuario{
	z-index: 0;
	top: -175px;
    position: relative;
    font-size: 170%;
    left: 6%;
}
#emailUsuario{
	z-index: 0;
    top: -152px;
    position: relative;
    font-size: 150%;
    left: 6%;
    height: 41px;
    width: 345px;
}
#dni{
	z-index: -1;
    top: -126px;
    position: relative;
    font-size: 170%;
    left: 6%;
}
#numTelefonoUsuario{
	z-index: 0;
    top: -98px;
    position: relative;
    font-size: 170%;
    left: 6%;
}
#pass{
	z-index: -1;
    top: -68px;
    position: relative;
    font-size: 170%;
    left: 6%;
}

.sessionCloser:hover{
	background: #0096f7;
}
.changeProfile{
	position: relative;
    background: #00b7f8;
    border-bottom: 5px solid #0045a6;
    border-radius: 12px;
    box-shadow: 6px 6px 6px #999;
    color: black;
    cursor: pointer;
    font-family: 'Raleway', Arial, Helvetica;
    font-size: 120%;
    height: 5%;
    text-align: center;
    width: 50%;
    right: -27.8%;
    top: 96px;
}
.changeProfile:hover{
	background: #0096f7;
}

.changePass{
    position: relative;
    background: #00b7f8;
    border-bottom: 5px solid #0045a6;
    border-radius: 12px;
    box-shadow: 6px 6px 6px #999;
    color: black;
    cursor: pointer;
    font-family: 'Raleway', Arial, Helvetica;
    font-size: 120%;
    height: 5%;
    text-align: center;
    width: 50%;
    right: -27.8%;
    top: 68px;
}
.changePass:hover{
	background: #0096f7;
}

.exampleImage{
	display: inline-block;
	position:relative;
	right:7%;
    top:20%;
}


.passUsuario{
    position: relative;
    top: -49px;
    width: 91%;
    left: 7%;
}

.confirmPassUsuario{
    position: relative;
    top: -9px;
    left: 7%;
    width: 91%;
}	

@media only screen and (min-width: 812px) {
	.col-1 {width: 10%;}
	.col-2 {width: 20%;}
	.col-3 {width: 30%;}
	.col-4 {width: 40%;}
	.col-5 {width: 50%;}
	.col-6 {width: 60%;}
	.col-7 {width: 70%;}
	.col-8 {width: 80%;}
	.col-9 {width: 90%;}
	.col-10{width: 100%;}
	
#nComplField{
    font-family: 'Roboto', sans-serif;
    left: 7%;
    font-size: 170%;
    top: 10px;
}
#userField{
	font-family: 'Roboto', sans-serif;
    left: 7%;
    font-size: 170%;
    top: 10px;

}
#mailField{
	font-family: 'Roboto', sans-serif;
    left: 7%;
    font-size: 170%;
    top: 10px;

}
#dniField{
	font-family: 'Roboto', sans-serif;
    left: 7%;
    font-size: 170%;
    top: 10px;

	
}
#tlfField{
    font-family: 'Roboto', sans-serif;
    left: 7%;
    font-size: 170%;
    top: 10px;

}

#passField{
	font-family: 'Roboto', sans-serif;
    left: 7%;
    font-size: 170%;
    top: 10px;
	
}

#passCField{
	font-family: 'Roboto', sans-serif;
    left: 7%;
    font-size: 170%;
    top: 10px;

}
#CpassField{
    font-family: 'Roboto', sans-serif;
    left: 7%;
    font-size: 170%;
    top: 10px;

}

#nombreCompletoUsuario{
	top: -435px;
    position: relative;
    font-size: 170%;
    left: 100%;
}
#nickUsuario{
    top: -417px;
    position: relative;
    font-size: 170%;
    left: 100%;
}
#emailUsuario{
    top: -400px;
    position: relative;
    font-size: 150%;
    left: 100%;
}
#dni{  
	 
    top: -383px;
    position: relative;
    font-size: 170%;
    left: 100%;
}
#numTelefonoUsuario{
    top: -365px;
    position: relative;
    font-size: 170%;
    left: 100%;
}
#pass{
    
    top: -344px;
    position: relative;
    font-size: 170%;
    left: 100%;
}

.changePass{
    left: 26%;
    font-size: 90%;
    top: -263px;
    height: 40px;
    width: 209px;
}
.passUsuario{
    top: -345px;
    width: 29%;
    left: 45%;
}

.confirmPassUsuario {
    top: -311px;
    left: 45%;
    width: 29%;
}

.changeProfile{
    height: 37px;
    width: 209px;
    right: 28.2%;
    top: -182px;
    left: -23%;
    font-size: 90%;
}

.form{
	left:15%;	
}

}
